* {
  margin: 0%;
}
.body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
}
/* <!------------------
     banner creation 
     ------------------> */

.world-cup {
  background-color: #000000ea;
  border-radius: 30px;
}
.fifa-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  width: 50%;
  margin-right: 24px;
  margin-left: 106px;
}
.banner-title {
  font-weight: 900;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
}
.banner-pera {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: 50px;
  color: #ffffff;
}
.live-button {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 16px 25px;
  width: 150px;
  justify-content: center;
  /* cursor: pointer; */
  border-radius: 10px;
  background-image: linear-gradient(#b44e29, #5f1b0b);
}
.live-button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.fa-greater-than {
  color: #ffffff;
}
.banner-image {
  width: 50%;
  margin-right: 80px;
  margin-top: 33px;
}
.banner-image img {
  width: 100%;
}
/* <!------------------
    Nav & Blogs creation 
------------------> */

.nav-and-Blogs {
  display: flex;
  margin-top: 100px;
  margin-bottom: 130px;
}
.navber {
  width: 25%;
}
.nav-background {
  background-color: #000000ea;
  border-radius: 15px;
  width: 100%;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.item {
  margin: 20px 0px;
  padding: 15px 30px;
  width: 150px;
  background-color: aliceblue;
  border-radius: 7px;
  text-align: center;
}
.item a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.special-iteam:hover {
  background-color: red;
}
.special-iteam a:hover {
  color: white;
}
.blogs {
  width: 75%;
  margin-left: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.blog {
  width: 100%;
  margin-right: 24px;
}
.thumbnail img {
  width: 230px;
  height: 150px;
}
.blog-details {
  margin-left: 20px;
}
.blog-btn button {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 4px 17px;
  border-radius: 5px;
}
.title{
  margin-bottom: 10px;
}
.blog-info{
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-bottom: 20px;
}
/* --------
footer
-------- */
.footer {
  width: 1600px;
  height: 444px;
  background-color: #161616;
}
.goal {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 130px;
}
#break-line {
  margin-top: 30px;
  border: 1px solid #ffffff1a;
}
