* {
  margin: 0%;
  padding: 0;
}
.body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
}
/* <!------------------
     banner creation 
     ------------------> */

.world-cup {
  background-color: #000000ea;
  border-radius: 30px;
}
.fifa-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  width: 50%;
  margin-right: 24px;
  margin-left: 106px;
}
.banner-title {
  font-weight: 700;
  font-size: 5vw;
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
}
.banner-pera {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: 50px;
  color: #ffffff;
}
.live-button {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 16px 25px;
  width: 150px;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  background-image: linear-gradient(#b44e29, #5f1b0b);
}
.live-button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.fa-greater-than {
  color: #ffffff;
}
.banner-image {
  width: 50%;
  margin-right: 80px;
  margin-top: 33px;
}
.banner-image img {
  width: 100%;
}
/* <!------------------
    Nav & Blogs creation 
------------------> */

.nav-and-Blogs {
  display: flex;
  margin-top: 80px;
  margin-bottom: 130px;
}
.navber {
  width: 22%;
  margin-top: 20px;
}

.items {
  background-color: #000000ea;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.item {
  margin: 10px 0px;
  padding: 15px 22px;
  width: 150px;
  background-color: aliceblue;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}
.item a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.special-iteam:hover {
  background-color: red;
}
.special-iteam a:hover {
  color: white;
}
.blogs {
  width: 78%;
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.blog-border {
  width: 95%;
  border: 1px solid #d8d5d5;
  border-radius: 10px;
  margin-top: 20px;
}
.blog {
  padding: 0px 7px;
}
.thumbnail img {
  width: 230px;
  height: 150px;
}
.blog-details {
  margin-left: 20px;
}
.blog-btn button {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 4px 17px;
  border-radius: 5px;
  cursor: pointer;
}
.title {
  font-size: smaller;
  font-weight: 100;
  margin-bottom: 15px;
}
.blog-info {
  display: flex;
  justify-content: start;
  gap: 30px;
  margin-bottom: 20px;
  font-size: 15px;
  color: rgb(104, 98, 98);
}
/* --------
footer
-------- */
.footer {
  height: 444px;
  background-color: #161616;
}
.goal {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 130px;
}
.break-line {
  width: 80%;
  border: 1px solid #8177771a;
  margin: 30px auto;
}
.contact {
  color: #f3eded;
  display: flex;
  justify-content: center;
}
.contact li {
  margin-left: 40px;
}
ul {
  list-style: none;
}
.social-media {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 80px;
}
.social-media a {
  text-decoration: none;
  color: antiquewhite;
}
.fa-facebook-square {
  color: #41aaea;
}
.fa-whatsapp-square {
  color: #5bcca6;
}
.fa-instagram-square {
  color: #b44e29;
}
