* {
  margin: 0%;
  padding: 0;
}
.body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
}
/* <!------------------
     banner creation 
     ------------------> */

.world-cup {
  background-color: #000000ea;
  border-radius: 30px;
}
.fifa-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  width: 50%;
  margin-right: 24px;
  margin-left: 106px;
}
.banner-title {
  font-weight: 700;
  font-size: 3.5em;
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
}
.banner-pera {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: 50px;
  color: #ffffff;
}
.live-button {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 16px 25px;
  width: 150px;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  background-image: linear-gradient(#b44e29, #5f1b0b);
}
.live-button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.fa-greater-than {
  color: #ffffff;
}
.banner-image {
  width: 50%;
  margin-right: 80px;
  margin-top: 33px;
}
.banner-image img {
  width: 100%;
  height: auto;
}
/* <!------------------
    Nav & Blogs creation  for webpage 1
------------------> */

.nav-and-Blogs {
  display: flex;
  margin-top: 80px;
  margin-bottom: 130px;
}
.navber {
  min-width: 220px;
  margin-top: 20px;
}

.items {
  background-color: #000000ea;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.item {
  margin: 10px 0px;
  padding: 15px 22px;
  width: 150px;
  background-color: aliceblue;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}
.item a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.colourful-item {
  background-color: #dd0000;
}
#special-ancor {
  color: #ffffff;
}
.blogs {
  width: 78%;
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.blog-border {
  width: 95%;
  border: 1px solid #d8d5d5;
  border-radius: 10px;
  margin-top: 20px;
}
.blog {
  padding: 0px 7px;
}
.thumbnail img {
  width: 230px;
  height: 150px;
}
.blog-details {
  margin-left: 20px;
}
.blog-btn button {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 4px 17px;
  border-radius: 5px;
  cursor: pointer;
}
.title {
  font-size: smaller;
  font-weight: 100;
  margin-bottom: 15px;
}
.blog-info {
  display: flex;
  justify-content: start;
  gap: 30px;
  margin-bottom: 20px;
  font-size: 15px;
  color: rgb(104, 98, 98);
}

/* <!------------------
    start match  for webpage 2
------------------> */

.flags {
  display: flex;
  align-items: center;
  gap: 10px;
}

.match-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border: 1px solid #d8d5d5;
  border-radius: 10px;
  margin-top: 20px;
}
.matchs {
  width: 78%;
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.match {
  padding: 0px 7px;
}
.match-text {
  margin-top: 20px;
}
.match-title {
  margin-bottom: 15px;
}
.date {
  font-size: 15px;
  color: rgb(104, 98, 98);
}
/* <!------------------
    end match  for webpage 2
------------------> */

/* <!-- ------
        just for tablet view 
        -------> */
.tablet-view {
  margin: 0px auto;
  padding-bottom: 40px;
  display: none;
}
/* <!-- ------
   just for tablet view 
 -------> */

/* --------
footer
-------- */
.footer {
  height: 444px;
  background-color: #161616;
}
.goal {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 130px;
}
.break-line {
  width: 80%;
  border: 1px solid #8177771a;
  margin: 30px auto;
}
.contact {
  color: #f3eded;
  display: flex;
  justify-content: center;
}
.contact li {
  margin-left: 40px;
}
ul {
  list-style: none;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  margin-top: 80px;
  color: white;
}
.social-media a {
  text-decoration: none;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
/*------------------------
responsive for mobile
 -------------------------- */

@media only screen and (max-width: 600px){
/*--- for banner ---*/

main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin: 10px 20px;
}
  .world-cup .fifa-banner{
    flex-direction: column;
  }
  .banner-text{
    width:60vw;
    text-align: center;
    margin: 30px auto;
    padding:10px 10px;
  }
  .banner-title {
    font-size: 10vw;
  }
  .banner-pera{
    font-size: 1.3em;
    margin: 40px auto;
  }

  .banner-image{
    width: 60%;
    height: auto;
    margin: 0 auto;
  }
  .live-button{
    margin: 0 auto;
    padding:10px 5px;
  }
  /*--- for navber and blogs ---*/
  .nav-and-Blogs {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  }
  .navber {
  margin: 20px auto;
  }
  .items {
  background-color: white;
  align-items: center;
  
}
.item{
  border:1px solid #221d1d21;
  font-weight: 600;
  
}
.item a{
  font-size: 2em;
}
.blogs {
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.blog-border {
  width: 100%;
}
.thumbnail img {
  width: 100%;
  height: auto;
}
.blog-btn button {
  width: 30%;
  font-size: 1.3em;
}
.title {
  font-size: 1.5em;
}
.blog-info {
  gap: 20%;
  font-size: 1.3em;
}
/*--- for footer ---*/
.footer {
  height: auto;
}
.goal {
  font-size: 2.5em;
  padding-top: 70px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  font-size: 1.5em;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  margin-top: 80px;
  color: white;
}
.social-media a {
  margin-bottom: 10%;
}
}
