.body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
}

.world-cup {
  background-color: #161616;
  border-radius: 30px;
}
.fifa-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  width: 50%;
  margin-right: 24px;
  margin-left: 106px;
  
}
.banner-title {
  font-weight: 700;
  font-size: 70px;
  margin-top: 0; 
  margin-bottom: 20px;
  color: #ffffff;
}
.banner-pera {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: 50px;
  color: #ffffff;
}
.live-button {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 16px 25px;
   width: 187px;
  justify-content: center;
  background-image: linear-gradient(#b44e29, #a73319);
}
.live-button a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;

}
.fa-greater-than {
  color: #ffffff;
}
.banner-image {
  width: 50%;
  margin-right: 80px;
  margin-top: 33px;
}
.banner-image img {
    width: 100%;
}
